<% include header %>
  
<div class="container">
<table border="1" class="table">
　<tr>
　	<td><font size=5><b>名稱</b></font></td>
　	<td><font size=5><b>授課老師</b></font></td>
	<td><font size=5><b>考試方式</b></font></td>
	<td><font size=5><b>推薦程度</b></font></td>
	<td><font size=5><b>補充</b></font></td>
　</tr>
　<tr>
　<tr class="success">
	<td><font size=5>網球</font></td>
	<td><font size=5>廖智雄</font></td>
	<td><font size=5>期中考考正手拍，期末考考正反手拍，有打擊網，打中一顆10分</font></td>
	<td>👍👍</td>
	<td><font size=5>不建議慣性遲到和常常翹課的人修。建議每堂課都會去但運動神經不好的人修</font></td>
	
　</tr>
<tr>
　<tr class="danger">
	<td><font size=5>桌球</font></td>
	<td><font size=5>沈啟賓</font></td>
	<td><font size=5>一般桌球是跟老師對打 看動作與次數 會給A～C</font></td>
	<td>👍👍👍(個人建議真心不錯)</td>
	<td><font size=5>要交５０塊買球費用</font></td>
　</tr>
<tr>
　	<tr class="info">
	<td><font size=5>羽毛球</font></td>
	<td><font size=5>劉國同</font></td>
	<td><font size=5>期中考發球，期末是考底線對打</font></td>
	<td>👍👍</td>
	<td><font size=5>上課會全部分好組，小組練習不用怕落單</font></td>
　</tr>
<tr>
　<tr class="warning">
	<td><font size=5>籃球</font></td>
	<td><font size=5>鄭慧芸</font></td>
	<td><font size=5>運球/傳球/上籃</font></td>
	<td>👍</td>
	<td><font size=5>會分組打比賽 前幾名會另外加分</font></td>
　</tr>
<tr>
　<tr class="active">
	<td><font size=5>排球</font></td>
	<td><font size=5>王敏憲</font></td>
	<td><font size=5>但期中期末會有一次考兩兩對打</font></td>
	<td>👍👍👍</td>
	<td><font size=5>全勤者最後一節不用上課+不用考期末考</font></td>
　</tr>
<tr>
　
	<td><font size=5>棒球</font></td>>
	<td><font size=5>李軾揚</font></td>
	<td><font size=5>期中考, 期末考接滾地球</font></td>
	<td>👍👍</td>
	<td><font size=5>建議有興趣或有底子再來修</font></td>
　</tr>
</table>
</div>







<% include footer %>