<% include header %>
    <form class="form-inline" role="form" method="get" action="test">
      
    <br> 
    <div class ="form-group">
    體育課程：   <select name="num">
　           <option>網球</option>
            <option>桌球</option>
            <option>羽毛球</option>
            <option>籃球</option>
            <option>桌球</option>
            <option>棒球</option>
              </select>
  	課程評價：  	
  		<select name="num">
　      		<option>困難</option>
        	<option>簡單</option>
       		<option>好過</option>
       		<option>好蹺</option>
        </select>
    </div> 
      老師：   
      <select name="num">
　         <option>很用心</option>
          <option>很佛心</option>
          <option>不關心</option>
          <option>不用心</option>
        </select>
    </div> 
      總體評價：   
      <select name="num">
　         <option>good</option>
          <option>so so</option>
          <option>profect</option>
          <option>bad</option>
        </select>
    </div>        
    <br>           
                        <div class="form-group">
                            <input type="submit" value="PUSH">
                        </div>
	</form>   
<% include footer %>