<% include header %>

<div class="container">
<table border="1" class="table">
　<tr>
　	<td><font size=5><b> 體育課程總評</b></font></td>
　	
　</tr>
　<tr>
　<tr class="success">
	<td><%= sum %></td>
	
	
　</tr>
</div>

<% include footer %>